# используем язык java. Travis CI поддерживает другие языки тоже.
language: java
jdk:
  - openjdk14

services:
  - postgresql

before_install:
  - psql -c 'create database tracker;' -U postgres

cache:
  directories:
    - $HOME/.m2

env:
  global:
    - CODECOV_TOKEN="15794e35-e67b-4971-8095-f328ac4a28b5"

# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонни сервис https://codecov.io/
after_success:
  - bash <(curl -s https://codecov.io/bash)

# Отправлять уведомление на почту yanin.r.a@mail.ru если сборка упала
notifications:
  email:
    recipients:
      - yanin.r.a@mail.ru
    on_success: never # default: change
    on_failure: always # defa,,ult: always